* {
  margin: 0px;
  padding: 0;
  font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
}

.main_wrapper {
  background: #1d1d1d;
  color: #919191;
  height: 60px;
  align-items: center;
}

.main_wrapper .center_wrapper {
  width: 90%;
  /* margin: 0 0 0 0; top right bottom left*/
  /* margin: 0 20px; This sets the top and bottom margins to 0 and the left and right margins to 20px */
  margin: 0 auto; /* This centers the element horizontally within its parent container */
  display: flex;
  padding: 5px 0;
}

.main_wrapper .center_wrapper .left_wrapper .tagline {
  padding-left: 15px;
  font-size: 1.2em;
  margin-left: 2%;
  margin-top: 7px;
}

/*.main_wrapper .center_wrapper .left_wrapper,
.main_wrapper .center_wrapper .right_wrapper {
  display: flex;
  align-items: center;  Vertically centers the items within the flex container 
} */
.main_wrapper .center_wrapper .left_wrapper {
  display: flex;
  align-items: center;
  width: 40%;
}

.main_wrapper .center_wrapper .right_wrapper {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: flex-end; /* Aligns items to the right */
}

.main_wrapper .center_wrapper .right_wrapper .wrapper_input {
  border-radius: 20px;
  background-color: transparent; /* Makes the background transparent */
  border: 2px solid #333;

  font-weight: bold;
  display: flex;

  padding: 0 10px;
  outline: none;
  color: #919191;
  /*text-align: center; Centers the placeholder and input text */
}

.main_wrapper .center_wrapper .right_wrapper .wrapper_input svg {
  width: 12px;
  height: 12px;
  fill: #919191;
  padding: 8px;
}

.main_wrapper .center_wrapper .right_wrapper .wrapper_input input {
  background: transparent;
  border: none; /* Removes the default border of the input field */
  outline: none; /* Removes the default outline when the input field is focused */
  color: #919191;
  font-size: 12px;
  font-size: 14px;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul {
  list-style: none; /* Removes default bullet points from the list */
  display: flex;
}
.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li a {
  text-decoration: none; /* Removes underline from links */
  color: #919191;
  padding: 0 10px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li a:hover {
  color: #fff;
}
.main_wrapper
  .center_wrapper
  .right_wrapper
  .manu_wrapper
  ul
  li:nth-child(2)
  a {
  font-weight: bold;
  color: #6ac045;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li:last-child a,
.main_wrapper
  .center_wrapper
  .right_wrapper
  .manu_wrapper
  ul
  li:nth-last-child(2)
  a {
  color: #fff;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li:last-child a {
  border-left: 1px solid #fff;
}

/*Main Body Wrapper*/

.mainbodywrapper {
  background: #333;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.mainbodywrapper:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(29, 29, 29, 0.65) 0,
    rgba(29, 29, 29, 1) 100%
  );
  z-index: 1;
}
.mainbodywrapper .headerwrapper {
  color: #fff;
}
.mainbodywrapper .headerwrapper .centerbodywrapper {
  width: 90%;
  margin: 0 auto; /* Top and bottom margin 0, left and right auto to center */
  text-align: center;
  padding: 30px 0;
  position: relative;

  z-index: 2;
  border-bottom: 2px solid #333;
}
.mainbodywrapper .headerwrapper .centerbodywrapper h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
  margin-top: 0px;
  color: #fff;
}

.mainbodywrapper .headerwrapper .centerbodywrapper p {
  width: 47%;
  margin: 0 auto 25px; /* Top margin 0, bottom margin 25px, left and right auto to center */
  font-size: 0.96rem;
  color: #ccc;
}

.mainbodywrapper .headerwrapper .centerbodywrapper a {
  text-decoration: none;
  color: #428bca;
  font-weight: 700;
  font-size: 0.95rem;
  display: block; /* Makes the link take up the full width */
  margin-bottom: 10px;
}

.mainbodywrapper .headerwrapper .centerbodywrapper .bottombar {
  padding: 20px 0 0 0;
  position: relative;
}

.mainbodywrapper .headerwrapper .centerbodywrapper .bottombar .centeritem {
  display: flex;
  align-items: center; /* Vertically centers the items within the flex container */
  justify-content: center; /* Centers items horizontally */
}
.mainbodywrapper .headerwrapper .centerbodywrapper .bottombar .centeritem svg {
  fill: #6ac045;
  width: 17px;
  height: 17px;
}
.mainbodywrapper .headerwrapper .centerbodywrapper .bottombar .centeritem span {
  padding-left: 5px;
}

.mainbodywrapper .headerwrapper .centerbodywrapper .bottombar .rightfeed {
  text-decoration: none;
  display: flex;
  align-items: center; /* Vertically centers the items within the flex container */
  position: absolute; /* Centers items horizontally */
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mainbodywrapper .headerwrapper .centerbodywrapper .bottombar .rightfeed span {
  padding-left: 7px;
}

.mainbodywrapper .headerwrapper .listing {
  position: relative;
  z-index: 2;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainbodywrapper .headerwrapper .listing .singlecard .imagearea {
  border: 5px solid #fff;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.mainbodywrapper .headerwrapper .listing .singlecard .imagearea .hovercard {
  position: absolute;
  background: rgba(29, 29, 29, 0.8);
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.mainbodywrapper
  .headerwrapper
  .listing
  .singlecard
  .imagearea
  .hovercard
  .centercontent {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.mainbodywrapper .headerwrapper .listing .singlecard .imagearea .hovercard svg {
  fill: #6ac045;
  height: 20px;
  width: 20px;
  margin: 0 auto;
}
.mainbodywrapper
  .headerwrapper
  .listing
  .singlecard
  .imagearea
  .hovercard
  .rate {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 25px;
  position: relative;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-weight: bold;
  color: #fff;
}

.mainbodywrapper
  .headerwrapper
  .listing
  .singlecard
  .imagearea
  .hovercard
  .category {
  font-size: 25px;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
  color: #fff;
}

.mainbodywrapper .headerwrapper .listing .singlecard .imagearea .hovercard a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  transition: bottom 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  display: block;
  background: #6ac045;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  width: 130px;
  padding: 7px 8px;
  border-radius: 3px;
}

.mainbodywrapper .headerwrapper .listing .singlecard .imagearea:hover {
  border: 5px solid #6ac045;
}

.mainbodywrapper
  .headerwrapper
  .listing
  .singlecard
  .imagearea:hover
  .hovercard {
  opacity: 1;
  visibility: visible;
}
.mainbodywrapper
  .headerwrapper
  .listing
  .singlecard
  .imagearea:hover
  .hovercard
  a {
  bottom: -40px;
}
.mainbodywrapper .headerwrapper .listing .singlecard span {
  display: block;
}
.mainbodywrapper .headerwrapper .listing .singlecard .name {
  font-size: 0.96em;
  font-weight: 700;
}
.mainbodywrapper .headerwrapper .listing .singlecard .year {
  font-size: 0.85em;
  color: #919191;
}
