* {
  margin: 0px;
  padding: 0;
}

.main_wrapper {
  background: #1d1d1d;
  color: #919191;
  font-family: "Arial";
  height: 60px;
  align-items: center;
}

.main_wrapper .center_wrapper {
  width: 90%;
  /* margin: 0 0 0 0; top right bottom left*/
  /* margin: 0 20px; This sets the top and bottom margins to 0 and the left and right margins to 20px */
  margin: 0 auto; /* This centers the element horizontally within its parent container */
  display: flex;
  padding: 5px 0;
}

.main_wrapper .center_wrapper .left_wrapper .tagline {
  padding-left: 15px;
}

/*.main_wrapper .center_wrapper .left_wrapper,
.main_wrapper .center_wrapper .right_wrapper {
  display: flex;
  align-items: center;  Vertically centers the items within the flex container 
} */
.main_wrapper .center_wrapper .left_wrapper {
  display: flex;
  align-items: center;
  width: 40%;
}

.main_wrapper .center_wrapper .right_wrapper {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: flex-end; /* Aligns items to the right */
}

.main_wrapper .center_wrapper .right_wrapper .wrapper_input {
  border-radius: 20px;
  background-color: transparent; /* Makes the background transparent */
  border: 2px solid #333;

  font-weight: bold;
  display: flex;

  padding: 0 10px;
  outline: none;
  color: #919191;
  /*text-align: center; Centers the placeholder and input text */
}

.main_wrapper .center_wrapper .right_wrapper .wrapper_input svg {
  width: 12px;
  height: 12px;
  fill: #919191;
  padding: 8px;
}

.main_wrapper .center_wrapper .right_wrapper .wrapper_input input {
  background: transparent;
  border: none; /* Removes the default border of the input field */
  outline: none; /* Removes the default outline when the input field is focused */
  color: #919191;
  font-size: 12px;
  font-size: 14px;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul {
  list-style: none; /* Removes default bullet points from the list */
  display: flex;
}
.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li a {
  text-decoration: none; /* Removes underline from links */
  color: #919191;
  padding: 0 10px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li a:hover {
  color: #fff;
}
.main_wrapper
  .center_wrapper
  .right_wrapper
  .manu_wrapper
  ul
  li:nth-child(2)
  a {
  font-weight: bold;
  color: #6ac045;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li:last-child a,
.main_wrapper
  .center_wrapper
  .right_wrapper
  .manu_wrapper
  ul
  li:nth-last-child(2)
  a {
  color: #fff;
}

.main_wrapper .center_wrapper .right_wrapper .manu_wrapper ul li:last-child a {
  border-left: 1px solid #fff;
}
